:root {
    --gray-900: #2F4F4F;
    --gray-500: #C0C0C0;
    --purple-500:#CC3299;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 16px "Poppins", Arial, sans-serif;
    color: #121214;
    background-color: var(--gray-500);
  }
  
  input, textarea {
    font-family: "Poppins";
  }